.btn-blue:hover {
    transition: all .4s;
    background-color: #033fff;
    box-shadow: 0 0 10px rgb(3, 62, 255, 0.6);
}

.icon {
    color: #033fff;
}

header .navbar .nav-link:hover {
    border: 1px solid black;
    /* transition: .1s; */
}

section {
    margin: 50px 0;
}

header .navbar .nav-link {
    padding: 5px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
}

.promo li{
    list-style: none;
    position: relative;
    line-height: 30px;
}

.promo li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #60738e;
    position: absolute;
    left: -20px;
    top: 14px;
}

.promo .btns a:first-child {
    background-color: #033fff;
}

.promo .carousel-inner {
    height: 653px;
}

.card {
    overflow: hidden;
    border-radius: 30px;
}

.card-img {
 transition: .3s;
 transform: scale(1.6);
}

.courses {
 background-color: #160d27;
}

.courses .wrap {
    width: 360px;
}

.courses a:hover > .card-img{
    transform: scale(1.9);
}

.card-bottom {
    color: #97c5cf;
}

.search img {
    background-color: #e5ebff;
}

.add-info {
    /* border: 1px solid red; */
    border-radius: 20px;
    box-shadow: 10px 12px 10px #ededed;
    transform: translateY(-50px);
}

@media screen and (max-width: 992px) {
    .promo li:before {
      display: none;
    }

    .promo .carousel-inner {
        /* width: 500px;
        height: 520px; */
        margin: 0 auto;
        width: 520px;
        height: auto;
    }

    .photos {
        width: 520px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .courses .wrap {
        width: 100%;
    }

    .courses .card {
        height: 330px;
    }
}

@media screen and (max-width: 576px) {
    .promo .carousel-inner {
        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .photos {
        width: 320px;
        height: auto;
        margin: 0 auto;
    }
}